*{
    padding: 0%;
    margin: 0%;
}

h1{
    
    
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;
}
p{
   display: block;
    text-align: center;
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    border: 10px solid salmon;
    border-radius: 20px;
}
p{
    background-color: skyblue;
    text-align: justify;
}
p{
    padding-left: 90px;
    margin-right: 60px;
}
#title{
color: red;
}
#learn{
    color: green;
}
.blog{
    color: red;
}